<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.socketchatapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SocketCreate"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".chat.GroupCreateActivity"
            android:windowSoftInputMode="adjustResize"
            />
        <activity android:name=".chat.NewGroupActivity" />
        <activity android:name=".chat.GroupActivity" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".registration.ForgotPasswordActivity" />
        <activity android:name=".registration.SignUpActivity" />
        <activity android:name=".registration.LoginActivity" />
        <activity android:name=".registration.WalkThroughActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".registration.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>